
body            { font-family: sans-serif; background-color: #333333}
h1, h2, h3, h4       { color: #FFFFFF; }
h1, h2          { font-family: 'Georgia', serif; margin: 10px; }
h1              { text-align: center; margin: 15px; text-transform: uppercase; padding: 5px; border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

p, dd, dt               { color: #CCCCCC;}

a {text-decoration: none; color:#FFFFCC; font-size: .75em;}

input {margin: 10px;}

.pane {width:600px; margin-left: auto; margin-right: auto; border: 2px solid;
    border-radius: 25px; padding: 10px; border-color: #999999; background-color: #333333 }
.header {text-align: center;}
.name {width:50%;display: inline-block; float: left;}
.description {}
.price {text-align: right; width:50%; float: right; }
.editdeletepane{text-align: right;}

.flash {background: #cee5F5;}

.restaurant {border: 2px solid; padding: 10px; margin: 15px; border-color: #999999; background-color: #333333 }
.restaurant .restaurantName {text-transform: uppercase; border-bottom: 1px solid #eee; font-size: 1.2em;}
